* {
    box-sizing: border-box;}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url("https://imgur.com/qjENCem.jpg");
    background-size: cover;
    background-position: center;
    
}
#gameboard {
    width: 700px;
    height: 700px;
    background-image: url("https://imgur.com/Pr6Q79f.jpg");
    background-position: center;
    border: solid black 2px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
 #gameboard div{
    width: 180px;
    height: 180px;
    background-image: url("https://imgur.com/QcAGbxw.jpg");
    background-size: cover;
   background-position: center;
   background-position-y: bottom ;
   border: 10px solid transparent ;
    border-image: url("https://imgur.com/c6wMqyo.png") 50% round ;
    
    
   
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50%;
 }
 #gameboard div img {
    height: 100px;
    width: 100px;
    
 }

































