* {
    box-sizing: border-box;}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: blueviolet;
    background-size: cover;
}
#gameboard {
    width: 700px;
    height: 700px;
    background-color: rgb(128, 0, 0);
    border: solid black 2px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
 #gameboard div{
    width: 180px;
    height: 180px;
    background-image: url("https://imgur.com/QcAGbxw.jpg");
    background-size: cover;
   background-position: center;
   background-position-y:bottom ;
    border: solid white 1px;
    display: flexbox;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50%;
 }
 #gameboard div img {
    height: 100px;
    width: 100px;
 }

































